body {
	font-family: Comic Sans MS;
}

div.container {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

ul.fisher-price-links {
	display: flex;
	padding: 0px ;
	align-items: center;
	justify-content: center;
}

ul.fisher-price-links>li {
	padding: 2px;
	background-color: #adadad;
	list-style: none;
	box-shadow: 4px 4px;
	margin-right: 10px;
	transition: all 0.1s ease-in-out;
}

ul.fisher-price-links>li:nth-of-type(4n+1) {
	background-color: #ea1a5b;
}

ul.fisher-price-links>li:nth-of-type(4n+2) {
	background-color: #f48120;
}

ul.fisher-price-links>li:nth-of-type(4n+3) {
	background-color: #73bd45;
}

ul.fisher-price-links>li:nth-of-type(4n) {
	background-color: #0862ad;
}

ul.fisher-price-links>li:hover {
	transform: translate(-2px, -2px);
	box-shadow: 8px 8px;
	/*z-index: -1;*/
}
ul.fisher-price-links>li>a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.left-aligned {
	text-align: left;
}

.unicorns {
	animation: unicornMode 2s linear 0s infinite;
}

@keyframes unicornMode {
	from {
		color: #6666ff;
	}
	10% {
		color: #0099ff;
	}
	50% {
		color: #00ff00;
	}
	75% {
		color: #ff3399;
	}
	100% {
		color: #6666ff;
	}
}